
<h1>Welcome back boss!</h1>
<h3>Here's some data:</h3>


<ul class="list-group">
  <li class="list-group-item">Number of Categories: <span class="badge"><%=@category_count%></span></li>
  <li class="list-group-item">Number of Products: <span class="badge"><%=@product_count%></span></li>
</ul>